config/acme.json
config/frontend/*.js
config/gateway/mapping.yaml
config/exchange/management_api_v1.yml
config/account/management_api.yml
config/toolbox.yaml
config/traefik.toml
config/*.env
config/secrets/*
!config/secrets/.gitkeep
config/exchange/seed/*
!config/exchange/seed/.gitkeep
config/applogic/*
!config/applogic/.gitkeep
vendor/
!vendor/.gitkeep
.terraform/
*.tfvars
terraform.tfstate*
!data/parity/.gitkeep
